<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hqq.viewexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".activity.HandwritingActivity" />
        <activity android:name=".activity.WaveActivity" />
        <activity android:name=".activity.animate.XmlAttributesActivity" />
        <activity android:name=".activity.animate.InterpolatorActivity" />
        <activity android:name=".activity.animate.ValueAnimatorActivity" />
        <activity android:name=".activity.animate.ObjectAnimatorActivity" />
        <activity android:name=".activity.animate.PropertyValuesHolderActivity" />
        <activity android:name=".activity.animate.AnimatorSetActivity" />
        <activity android:name=".activity.view.ViewBaseActivity"></activity>
        <activity android:name=".activity.view.CircleProgressActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>